GITHUB_TOKEN=git_token
STACK_EXCHANGE_KEY=your_stack_exchange_key
SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
SUPABASE_SERVICE_KEY=api_key
OPENROUTER_API_KEY=your_OPENROUTER_API_KEY
# App
APP_ENV=development
LOG_LEVEL=INFO